<div class="center">
  <h1>Blog</h1>
  <p>いらっしゃいませ　ごゆっくり！</p>
  <div class="home-container-box">
    <p>
      <%= link_to "登録する？", new_user_path, class: "btn btn-outline-dark btn-lg" %>
      or <%= link_to "ログイン！", login_path, class: "btn btn-outline-dark btn-lg" %>
    </p>
  </div>
</div>
