<h1>Blog</h1>

<p>初めまして <%= @user.name %>,</p>

<p>
  Blogへ　ようこそ! アカウントを有効にするためには下記のリンクをクリックしてください:
</p>

<%= link_to "有効にする", edit_account_activation_url(@user.activation_token, email: @user.email) %>
