<h1>パスワードの再設定</h1>

<p>パスワードを再設定するためには、下のリンクをクリックして下さい:</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token,
                                                    email: @user.email) %>

<p>このリンクは2時間で無効になります。</p>

<p>
  もし、あなたがパスワードのリセットを望んでいなければ、このメールは無視して下さい。
  あなたのパスワードは現在のままとなります。
</p>
