<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object  %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <div class="content-btn">
    <input type="submit" value="投稿する" class="btn btn-outline-primary">
  </div>
<% end %>
