<div>
  <%= @post.user.name %>
</div>
<div class="post-show-box">
  <p>タイトル</p>
  <div class="post-show-box_title">
    <p><%= @post.title %></p>
  </div>
  <p>記事</p>
  <div class="post-show-box_content">
    <p class="txt"><%= @post.content %></p>
  </div>
</div>
